{% extends 'layouts/main.html' %} {% block title %}Fyyur | Artists{% endblock %}
{% block content %} {% if (not artists)%}

<p>They are currently no Artist performing on our platform</p>
<p><a href="{{url_for('index')}}">Back</a></p>
{% endif %}
<ul class="items">
  {% for artist in artists %}
  <li>
    <a href="/artists/{{ artist.id }}">
      <i class="fas fa-users"></i>
      <div class="item">
        <h5>{{ artist.name }}</h5>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
